.menu {
    list-style-type: none;
}

.dropdown {
    display: none;
}

.subDropdown {
    display: none;
}

/* button에 대한 스타일을 .button 클래스로 지정 */
.button {
    background-color: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}

/* about 메뉴의 하위 메뉴가 보이도록 설정 */
.menu > li:hover .dropdown {
    display: block;
}

.dropdown > li:hover .subDropdown {
    display: block;
}

/* 하위 메뉴 항목에 대한 스타일 */
.dropdown {
    padding-left: 10px;
}

.subDropdown {
    padding-left: 20px;
}